* {
 padding: 0;
 margin: 0;
 font-family: "BOOKOS";
 font-style: normal;
}

@font-face {
     font-family: "BOOKOS";
     src:  url('BOOKOS.ttf') format('truetype');
     font-style:normal;
}

header, section, footer, aside, nav, article, figure, figcaption {
	display: block;
}

/*header, nav en footer*/
header {
	position: fixed;
	z-index: 1;
}

header, footer {
	clear: both;
	padding: 15px;
	background-color: #990000;
	text-align: center;
	width: 100%;
	height:145px;
}

nav ul {
	margin:0px;
	width:100%;
	float: left;
	margin-top: 5px;
	margin-bottom:10px;
}

nav ul li {
	display: inline; 
	padding: 0 5px;
	width: 100%;
}

nav ul li a {
	color: #FFF;
	text-decoration: none;
}

nav ul li a:hover {
	color: #FFF;
	border-bottom: 3px solid #FFF;
}

.leftNav, .rightNav {
	float: left;
	width: 41%;
}

.rightNav ul, .leftNav ul{
	border-top: 1px solid #fff;
}

.leftNav {
	margin-top: 58px;
}

.button {
    background-color: #DA0043;
    border: 1px dotted white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover, {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.logo{	
	float:left;
	width:16%;
}

.logo img {
	position: relative;
	display:block;
	margin-left: auto;
	margin-right:auto;
	height:130px;
	cursor:pointer;
}
/* einde */

/*model/*
/* input velden */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {
    padding: 16px;
}

.container a {
	color: blue;
}

.container a:hover {
	color: Purple;
}

span.ww {
    float: right;
    padding-top: 16px;
}

/* Het inlogscherm (achtergrond) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

/* Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 30%; 
}

/* Afsluit knop inlogscherm (x) */
.sluit {
    position: relative;
    color: #000;
    font-size: 35px;
    font-weight: bold;
	float: right;
	margin-right:5px;
}

.sluit:hover, .sluit:focus {
    color: red;
    cursor: pointer;
}

/* zoom animatie */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Verandert de stijl op een klein scherm*/
@media screen and (max-width: 300px) {
    span.ww {
       display: block;
       float: none;
    }
}
/* einde modal*/


/* section vrienden*/
section.vrienden{
	float:left;
	width: 70%;
	margin-top:220px;
}

article {
	clear: both;
	overflow: auto;
	width:100%;
}

.vrienden figure {
	float: left;
	width:328px;
	height:218px;
	padding: 5px;
	margin: 20px;
}

section img {
	width:100%
}

hgroup {
	margin-top:40px;
	margin-bottom: 5px;
}

p a{
	float:right;
}

.agenda figure{
	float: left;
	width:21%;
	padding:10px;
	margin:20px;
}

.fotos figure{
	float: left;
	width:16%;
	padding:10px;
	margin:20px;
}

/*footer*/
footer figure {
	margin-left:auto;
	margin-right:auto;
}
footer p{
	float:left;	
	width:41%;
}

article a{
	color:black;
	text-decoration: none;
	text-align:center;
}

 /* gemaakt door Joey de Wit, 16039580 */