* {
 padding: 0;
 margin: 0;
 font-family: BOOKOS;
 font-style: normal;
}

@font-face {
   font-family: BOOKOS;
   src: url(BOOKOS.ttf);
}

.nav {
 padding: 15px;
 background-color: #990000;
 text-align: center;
 height: 180px;
 width: 100%;
 margin-left:auto;
 margin-right:auto;

}

.nav ul li {
 display: inline; 
 padding: 0 5px;
 width: 100%;
}

.nav ul li a, a:link, a:visited, a:active {
 color: #FFF;
 text-decoration: none;
 font-weight: bold;
}

.nav ul li a:hover {
 color: #FFF;
 border-bottom: 3px solid #FFF;
}

.navigatie {
	margin:0px;
	width:100%;
	float: left;
	margin-bottom: 10px;
	border-top: 1px solid #fff;
}

.logo{
	position: relative;
	float:left;
}

.leftNav {
	float: left;
	width:42%;
}

.rightNav {
	float: left;
	width: 42%;
}

 /* gemaakt door Joey de Wit, 16039580 */